/* css/lightbox.css */

/* The Modal (background) */
.lightbox-modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; /* Sit on top */
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (The Image) */
.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px; /* Limit max width */
    max-height: 85vh; /* Limit height so it fits on screen */
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    animation-name: zoom;
    animation-duration: 0.3s;
}

/* Zoom Animation */
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-lightbox {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-lightbox:hover,
.close-lightbox:focus {
    color: #ff9800;
    text-decoration: none;
    cursor: pointer;
}

/* Caption of Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Responsive */
@media only screen and (max-width: 700px){
    .lightbox-content {
        width: 100%;
    }
}